---
import Section from "../Section.astro"
import type { CV } from "@/types/cv";
import {getI18N } from '@/i18n/utils'


interface Props {
    cv: CV, 
    locale?: string
}

const {cv, locale = 'es'}: Props = Astro.props
const {basics} = cv
const {summary} = basics
const i18n = getI18N(locale)

---

<Section title={i18n.sections.about}>
    <p>{summary}</p>
</Section>

