---
import Section from "../Section.astro"
import type { CV } from "@/types/cv";


interface Props {
    cv: CV
}

const {cv}: Props = Astro.props
const {basics} = cv
const {summary} = basics

---

<Section title="Sobre mí">
    <p>{summary}</p>
</Section>

