---
const {title} = Astro.props
---

<section>
{
    title && <h2>{title}</h2>
}
<slot />
</section>

<style>
    section {
        max-width: 500px;
        margin: 0 auto 72px
    }
    h2 {
        font-weight: 700;
        line-height: 1.5;
        font-size: 1rem;
    }
</style>